#wrap {
  background-color: #fafafa;
}

#header {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  text-align: center;
}
.container {
  margin: 0 auto;
  width: 95%;
}

#logo {
  width: 90px;
  margin-top: 24px;
  margin-left: 80px;
  display: inline;
  cursor: pointer;
}

#reservation {
  float: right;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  margin-top: 36px;
  font-weight: lighter;
  padding-right: 0px;
}

#hamburger {
  float: right;
  margin-top: 32px;
  margin-left: 30px;
}

#a_1 {
  text-align: center;
  background-image: url(../img/yard_1_b.jpeg);
  width: 100%;
  height: 980px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#a_1 p {
  padding-top: 450px;
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.8em;
  color: #ffffff;
}

#main-button {
  margin-top: 40px;
}

#b_1 {
  text-align: center;
  background-image: url(../img/yard_2_b.png);
  width: 100%;
  height: 980px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#b_1 p {
  text-align: center;
  font-size: 20px;
  padding-top: 480px;
  color: #ffffff;
}

.b_2 {
  text-align: center;
  background-color: #fafafa;
  width: 100%;
}

#b_2_3 {
  clear: both;
}

.block_100px {
  clear: both;
  width: 100%;
  height: 100px;
}

#c_1 {
  text-align: center;
  background-image: url(../img/kitchen_3_b.png);
  width: 100%;
  height: 980px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#c_1 p {
  text-align: center;
  font-size: 20px;
  padding-top: 480px;
  color: #ffffff;
}

#c_2 {
  width: 100%;
  background-color: #fafafa;
  height: auto;
}

#c_2_1 {
  padding-top: 100px;
  width: 48%;
  float: left;
  margin-right: 4%;
}

#c_2_1 h2 {
  font-size: 16px;
}

#c_2_1 p {
  font-size: 14px;
  width: 50%;
  float: left;
  margin-bottom: 30px;
}

#c_2_2 {
  padding-top: 100px;
  width: 48%;
  float: left;
}

#c_2_2 h2 {
  font-size: 16px;
}

#c_2_2 p {
  font-size: 14px;
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 2em;
}

#c_2_3 {
  padding-top: 100px;
  width: 48%;
  float: left;
  margin-right: 4%;
}

#c_2_3 h2 {
  font-size: 16px;
}

#c_2_3 p {
  font-size: 14px;
  width: 50%;
  float: left;
  margin-bottom: 30px;
}

#c_2_4 {
  padding-top: 100px;
  width: 48%;
  float: left;
}

#c_2_4 h2 {
  font-size: 16px;
}

#c_2_4 p {
  font-size: 14px;
  width: 50%;
  float: left;
  margin-bottom: 30px;
}

#c_2_5 {
  padding-top: 100px;
  width: 48%;
  float: left;
  margin-right: 4%;
}

#c_2_5 h2 {
  font-size: 16px;
}

#c_2_5 p {
  font-size: 14px;
  width: 50%;
  float: left;
  margin-bottom: 30px;
}

#c_2_6 {
  padding-top: 100px;
  width: 48%;
  float: left;
}

#c_2_6 h2 {
  font-size: 16px;
}

#c_2_6 p {
  font-size: 14px;
  width: 100%;
  float: left;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 2em;
}

#c_2_7 {
  padding-top: 100px;
  width: 100%;
  float: left;
}

#c_2_7 h2 {
  font-size: 16px;
}

.gray_line {
  margin: 30px 0;
  margin-left: 0px;
  clear: both;
}

#floorplan {
  width: 500px;
  margin-top: 100px;
}

.longline {
  padding: 100px 0;
}

.photo-wrapper_1 {
  width: 70%;
  overflow: hidden;
}

.photo-wrapper_2 {
  width: 70%;
  overflow: hidden;
  float: right;
}

.photo-wrapper_3 {
  width: 70%;
  overflow: hidden;
}

.photo-wrapper_4 {
  width: 70%;
  overflow: hidden;
  float: right;
}

#photo_yard {
  max-width: 100%;
}

#photo_bedroom {
  max-width: 100%;
}

#photo_kitchen {
  max-width: 100%;
}

#photo_bath {
  max-width: 100%;
}

.discription_1 {
  float: right;
  width: 26%;
  margin-top: -310px;
}

.discription_1 h2 {
  text-align: left;
  margin: 20px 0;
}

.discription_1 p {
  text-align: left;
}

.discription_2 {
  width: 26%;
  float: left;
}

.discription_2 h2 {
  text-align: left;
  margin: 20px 0;
}

.discription_2 p {
  text-align: left;

}

.discription_3 {
  float: right;
  width: 26%;
  margin-top: -310px;
}

.discription_3 h2 {
  text-align: left;
  margin: 20px 0;
}

.discription_3 p {
  text-align: left;
}

.discription_4 {
  width: 26%;
  float: left;
}

.discription_4 h2 {
  text-align: left;
  margin: 20px 0;
}

.discription_4 p {
  text-align: left;

}

.maps {
padding: 10px 0 60px 0;
}

button {
  width: 240px;
  font-size: 16px;
  background-color: rgba( 255, 255, 255, 0.0 );
  color: #fff;
  border: solid;
  border-color: #ffffff;
  border-width: 1px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:hover{
    background-color: #ffffff;
    color: #363636;
    border: solid;
    border-width: 1px;
    border-color: #ffffff;
}

footer {
  clear: both;
}

footer p{
  text-align: center;
  padding: 100px 0;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.6em;
  background-color: #ffffff;
}

/* 슬라이드 메뉴 */

.mobile-menu {
  position: fixed;
  top: 28px;
  left: 15px;
  z-index: 500;
  width: 45px;
  height: 45px;
  padding: 5px;
  border: 0;
}

.mobile-menu i {
  font-size: 2em;
}

.menuwrap {
  position: fixed;
  top: 0;
  left: -300px; /* 너비 300px 인 사이드바를 왼쪽으로 300px 이동시켜 화면에 보이지 않게 함 */
  z-index: 400;
  overflow: auto;
  width: 300px; /* 너비 */
  height: 100%;
  padding: 50px 20px;
  box-sizing: border-box;
  transition: left .3s ease-in-out; /* 0.3초 동안 이동 애니메이션 */
  background-color: #363636;
}

.menuwrap.on {
  left: 0;
}

#menu {
  text-align: center;
}

#menu-logo {
  width: 90px;
  margin-left: 16px;
  margin-bottom: 50px;
}

#menu a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  line-height: 3em;
}